@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
    --text: #101818;
    --background: #FFFFFF;
    --primary: #101818;
    --secondary: #A4A4A4;
    --accent: #2E2E2E;
    --font-ui: 'Inter', sans-serif;
}

body {
    background-color: var(--background);

    font-family: var(--font-ui);
    
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


img {
    max-width: 100%;
    height: auto;
}
