@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";


:root {
    --text: #101818;
    --background: #f5f8f9;
    --primary: #101818;
    --secondary: #A4A4A4;
    --accent: #2E2E2E;
}

body {
    background-color: var(--background);

    font-family: 'Roboto', sans-serif;
    
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


img {
    max-width: 100%;
    height: auto;
}
