@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
    --text: #101818;
    --background: #FFFFFF;
    --primary: #101818;
    --secondary: #A4A4A4;
    --accent: #2E2E2E;
    --font-ui: 'Inter', sans-serif;
}

body {
    background-color: var(--background);

    font-family: var(--font-ui);
    
    margin: 0;
    padding: 0;
    line-height: 1.6;
}




p.active {
  color: #000000; /* active link black */
  font-weight: 600; /* semi-bold for active */
}

/* Remove arrows in input[type=number] */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
}
